{% extends 'body.html' %}
{% import 'lib.html' as form_lib with context %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <section id="prompt-text">
            {{ game_output }}
        </section>
        <section>
            <form action="" method="post" id="prompt-form" class="form-inline" role="form">
                {{form.hidden_tag()}}
                <div class="form-group">
                    {{ form.prompt(size=50, placeholder="Type command here") }}
                </div>
                <input type="submit" id="submit-btn" class="btn" value="Go!">
            </form>
        </section>
        <section>
            <p>Score: {{ score.current_score }} / {{ score.max_score }}</p>
        </section>
    </div>
</div>
{% endblock %}

{% block tail %}
{{ super() }}
<script type="text/javascript">
    $(function() {
        $('#prompt-form').submit(function(e){
            var url = '/adventure/next/';

            $.ajax({
                type: "POST",
                url: url,
                data: $('#prompt-form').serialize(),
                success: function(data) {
                    var txt = $('#prompt-text')
                    txt.append(data);
                    txt.animate({ scrollTop: txt.height() }, 1000);
                    $('#prompt').val('');
                }
            });

            e.preventDefault(); 
        });
    });
</script>
{% endblock %}