<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Web Adventure</title>
    {% assets "public_css" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
  {% block tail %}
    {% assets "public_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  {% endblock %}
</html>
